/* Set height of the grid so .sidenav can be 100% (adjust if needed) */

.row.content {
    height: 1500px
}


/* Set background color and 100% height */

.sidenav {
    background-color: black;
    color: whitesmoke;
    height: 100%;
    overflow: auto;
}

.col-sm-9 {
    height: max-content;
    text-align: center;
}


/* On small screens, set height to 'auto' for sidenav and grid */

@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }
    .row.content {
        height: auto;
    }
}